<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/partials/variables.css">
    <link rel="stylesheet" href="/css/partials/adopition.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/animation.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo.svg">
    <title>Adoção | Content Pets</title>
</head>
<body>
    <header class="animate-opacity">
        <a href="/">
            <img id="seta" src="/img/seta.svg" alt="Voltar">
        </a>
        <h2>Connect Pets</h2>
    </header>

    <main class="animate-up">
        <div class="container">
            {{#each adoption}}
                <div class="pets">
                    <img id="pet-image" src="{{this.photo}}" alt="Pet">
                    
                    <div class="description">
                        <p>Doador: {{this.name}}</p>
                        <p>Raça: {{this.race}}</p>
                        <p>Idade: {{this.age}}</p>
                        <p>Sexo: {{this.sex}}</p>
                    </div>
                </div>
                <footer class="whatsapp">
                    <a href="https://api.whatsapp.com/send?1=pt_BR&phone={{this.whatsapp}}&text=Desejo adotar o pet">
                        <img src="/img/whatsapp.svg" alt="whatsapp">
                        <p>Entre em contato</p>
                    </a>
                </footer>
            {{/each}}
        </div>
    </main>
    <script src="/script/main.js"></script>
</body>
</html>